.footer-block {
    background-color: #f7f7f7;
}

.footer__contacts {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 80px 0px;
}

.footer-list__line:not(:last-child) {
    font-family: Arial,sans-serif;
    font-weight: 400;
    font-size: 29px;
    margin-bottom: 10px;
}

.footer-list__line-2 {
    font-family: Arial,sans-serif;

    &:not(:last-child) {
        margin-bottom: 5px;
    }
}

.footer-icon {
    fill: #199cdb;
}
