.header-position {
    padding: 20px;
}

.header-list {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 540px) {
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
    }
};

.header-title {
    font-family: "Oswald", sans-serif;
    color: #333333;
    font-weight: 300;
    font-size: 29px;
}

.header-list__line-border {
    display: flex;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    color: #333333;
    font-weight: 300;
    font-size: 29px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        background: linear-gradient(to right, transparent, #199cdb, transparent);
        bottom: -22px;
        width: 1700px;
        height: 2px;

        @media screen and (max-width: 540px) {
            bottom: -55px;
        }
    }

    @media screen and (max-width: 540px) {
        justify-content: flex-start;
    }
};

