$font-family: 'Oswald', sans-serif;
$color: #333333;

body {
    margin: 0px;
    font-family: $font-family;
    color: $color;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

a {
    color: #199cdb;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1600px;
}
